$banner-right: '//static3.caseking.de/media/image/Wallpaper-EN-noblechairs-BlackEd_RIGHT.jpg';
$banner-left: '//static3.caseking.de/media/image/Wallpaper-EN-noblechairs-BlackEd_LEFT.jpg';

#left-banner {
  // 50% - bannerWidth - half of contentWidth
  left: calc(50% - 420px - 570px);
  img {
    content: url($banner-left);
  }
}

#right-banner {
  // 50% - bannerWidth - half of contentWidth
  right: calc(50% - 420px - 570px);

  img {
    content: url($banner-right);
  }
}

.banner {
  top: 90px;
  position: absolute;
  width: 420px;
  min-width: 200px;
  z-index: 2;

  img {
    width: 100%;
  }
}
